<!DOCTYPE html>
<html>

<head>
	<title><%= locals.OLSKPageTitle || 'XXYY' %></title>

	<% if (locals.OLSKPageDescription) { %>
		<meta name="description" content="<%= OLSKPageDescription %>" />
	<% } %>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="/shared-assets/vendor/normalize/normalize-3.0.0.css">

	<link rel="stylesheet" type="text/css" href="/shared-assets/style.css">

	<% if (locals.OLSKHeadCallback) { %>
		<% OLSKHeadCallback() %>
	<% } %>
</head>

<body id="OLSKSharedBody">

<div id="OLSKSharedContainer">
<!-- start #OLSKSharedContainer -->
