<section id="XXYYSharedLanguageSelector">
	<% OLSKSharedPageLanguagesAvailable.forEach(function (e) { %>
		<% if (e === OLSKSharedPageCurrentLanguage) { %>
			<span><%= e %></span>
		<% } %>

		<% if (e !== OLSKSharedPageCurrentLanguage) { %>
			<a href="<%= OLSKCanonicalLocalizedFor(OLSKSharedActiveRouteConstant, { OLSKRoutingLanguage: e }) %>"><%= e %></a>
		<% } %>
	<% }) %>
</section>